*.py[oc]
__pycache__
.coverage
.pytest_cache/
coverage.xml
node_modules/
coverage/

# Backups
*~
*.DS_Store
*.out
*.so
*.swp

# Logs
logs
*.log

# Composer
composer.lock
vendor

# Node
.npm
node_modules
npm-debug.log*

# PhpStorm
.idea

# PHPUnit
phpunit.xml


# Git
!.gitkeep
